.App {
  background-color: white;

}
.TableContainer{
  background-color: rgba(235, 225, 243, 0.5);
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0,0.1);
}
.Piechart1{
  display: flex;
  flex-direction: column;
}
.Piechart2{
  display: flex;
  flex-direction: column;
}
.Piecharts{
  display: flex;
}
.container-lg{
  background-color:rgba(254, 254, 254, 0.8);
  border-radius: 25px;
  max-width: 1400px;
 padding: 50px;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
margin-left: -100px;
margin-top: -100px;
  width: 1922px;
  height:1005px;
  background-image: url("./Images/loginpage.jpg");
  
}
.attendi{
display: flex;
}
.attform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
}

.listo {
  font-weight: bold;
  margin-bottom: 5px;
}

.selectodesc {
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
  margin-TOP: 20px;
width: 320px;
}
.bootandence{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.bootandence:hover{
  background-color: #3e8e41;
}
.impodence{
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.Auth-form {
      -webkit-box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
      box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
      border-radius: 15px;
      background-color: rgb(192, 174, 211, .70);
      padding: 20px;
}
.mt-1{
  width:100%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
@media (max-width: 768px) {
  .Auth-form-container {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
      background-image: url("./Images/loginpage.jpg");
  }
  
  .Auth-form {
    width: 80%;
    margin: 0 auto;
    box-shadow: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    height: auto;
    opacity: 100%;
    background-color: rgb(192, 174, 211);
  }
  
  .Auth-form-content {
    padding-left: 5%;
    padding-right: 5%;

  }
  
  .Auth-form-title {
    font-size: 20px;
  }
}


label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.Backimg{
  background-color: #ededf6;
  margin-left: 130px;
  height:100%;
  border-radius: 10px;
}

*:focus {
  outline: none;
  
}


.table-wrapper {
  width: 90%;
  margin: 0px auto;
  padding: 20px;
}

@media screen and (max-width: 760px) {
  * {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .table-wrapper {
    width: 600px
  }
  .table-title .add-new {
    right: 10px;
    padding: 5px 9px;
  }
}

@media screen and (min-width: 650px) {
  .table-title .add-new::after {
    content: "Add New";
    font-weight: bold;
    font-size: 16px;
  }
  .table-title .add-new {
    padding: 10px 15px;
    right: 20px;
  }
}

.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}

.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}

.add-new:focus {
  outline: none;
}

.table-title .add-new:hover {
  background-color: rgb(15, 159, 255);
}

.table-title .add-new {
  position: absolute;
  background-color: rgb(71, 181, 255);
  top: 64px;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.filterClass {
  background-color: rgb(71, 181, 255);
  color: white;
  padding: 3px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

}

.filterClass:hover {
  background-color: rgb(15, 159, 255);
}
.filterClass1:hover {
  background-color: rgb(15, 159, 255);
}

.listadmintitle {
  text-align: center;
}

.editAdmin {
  color: rgb(71, 181, 255);
}

.editAdmin:hover {
  color: rgb(15, 159, 255);
}

.deleteAdmin {
  color: rgb(255, 0, 0);
}

.deleteAdmin:hover {
  color: rgb(158, 0, 0);
}

table.table {
  table-layout: fixed;
}

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table th:last-child {
  width: 100px;
}

table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}

table.table td i {
  font-size: 24px;
}

table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}

table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}

table.table td .add {
  display: none;
}

*:focus {
  outline: none;
}

.textaddadmin {
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.divaddadmin label {
  color: black;
}
.divaddadmin,.form{
  background-color: rgba(254, 254, 254, 0.8);

}

.canceladdadmin {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

.canceladdadmin:hover {
  background-color: rgb(158, 0, 0);
}
.submitcanceledit{
  background-color: rgb(130, 198, 250);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}
.submitcanceledit:hover{
  background-color: rgb(63, 106, 140);
}

.submitaddadmin {
  background-color: rgb(59, 210, 54);
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

.submitaddadmin:hover {
  background-color: rgb(13, 179, 71);
}

.divaddadmin {
  margin: 20px 15% 20px 15%;
  border-radius: 5px;
  padding: 20px;
}

.buttonsadmin {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-left: 100px;
}

@media screen and (max-width: 600px) {
  .divaddadmin {
    margin: 10px 1% 10px 1%;
  }
}

.divDelete {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 180px;
  background-image: linear-gradient(#6D6F73, #47484b);
  padding: 15px;
  border-radius: 5px;
}

.deleteSpan1 {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.deleteSpan2 {
  margin-top: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.deleteDivButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 15px;
}

.table-wrapper222 .table222 {
  color: black;
  font-size: 18px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  border-spacing: 30px;
}

@media screen and (max-width: 900px) {
  .table-wrapper222 .table222 td {
    padding: 5px 15px 5px 15px;
    margin: 5px 10px 5px 10px;
  }
}

@media screen and (max-width: 400px) {
  .table-wrapper222 .table222 {
    position: absolute;
    left: 10px;
  }
}

@media screen and (min-width: 900px) {
  .table-wrapper222 .table222 td {
    padding: 10px 25px 10px 25px;
    margin: 10px 20px 10px 20px;
  }
}

@media screen and (min-width: 510px) {
  .bi-plus-square-dotted::after {
    content: "Create";
    font-style: normal;
  }
  .bi-list-stars::after {
    content: "List";
    font-style: normal;
  }
}

.table-wrapper222 .table222 td {
  border-radius: 5px;
  text-align: left;
  background-color: white;
}

.table-wrapper222 .table222 tr td .bi-plus-square-dotted, .table-wrapper222 .table222 tr td .bi-list-stars, .table-wrapper222 .table222 tr td .spancreate, .table-wrapper222 .table222 tr td .spanlist {
  color: white
}

.table222 tr .tdcreate {
  background-color: rgb(71, 181, 255);
}

.table222 tr .tdcreate:hover {
  background-color: rgb(15, 159, 255);
}

.table222 tr .tdlist {
  background-color: rgb(0, 107, 179);
}

.table222 tr .tdlist:hover {
  background-color: rgb(0, 81, 134);
}

.table222 .tdtitle {
  font-weight: bold;
}

.searchspan {
  padding: 3px 8px 5px 8px;
  background: rgb(71, 181, 255);
  color: white;
  border-left: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.searchspan:hover {
  background: rgb(15, 159, 255);
}

.inputSearchSpan {
  padding: 5px 8px;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 14px;
}

.divFilterS {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-image: linear-gradient(#6D6F73, #47484b);
  padding: 20px 5px 15px 5px;
  border-radius: 5px;
}

.divrowselect {
  width: 230px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.divrowselectlisto{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: -600px;
  gap: 10px;
}
.filterClass1{
  background-color: rgb(71, 181, 255);
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;

}

@media screen and (max-width: 900px) {
  .divFilterS {
    flex-flow: column;
    align-items: center;
  }
  .divrowselect {
    margin-top: 10px;
  }
  .inputSearchSpan {
    padding: 4px 8px;
    width: 200px;
  }
}

.classFlexRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-top: 5px;
}

.malefemalename {
  color: white;
  font-size: 15px;
}

.mini-filter {
  text-align: left;
}

input[type='radio'] {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  margin-right: 5px;
  cursor: pointer;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
  border-radius: 100px;
  background: rgb(71, 181, 255);
  content: '';
  display: inline-block;
  visibility: visible;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  cursor: pointer;
}

.tableCenterForm {
  width: 80%;
  margin-left: auto;
  margin-right: 0px;
}

#file-input {
  display: none;
}
.Signin{
  color: #ffffff;

}
.contactus{
  margin-left: 5px; /* add a 10px margin to the right of the span */
}
.Signin:hover{
  color: #000000;
}
.adminweclome{
  cursor: pointer;
}

.file-field {
  position: absolute;
  left: 20%;
}

.specpic {
  border: 1px solid gray;
  width: 150px;
  height: 150px;

}

@media screen and (max-width: 1000px) {
  .specpic {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 700px) {
  .file-field {
    position: initial;
  }
  .specpic {
    width: 120px;
    height: 120px;
  }
  .tableCenterForm {
    width: 100%;
  }
  .textaddadmin {
    padding: 5px 3px;
  }
  .topright, .topright2,.topright3 {
    position: absolute;
    top: 80px;
    right: 50px;
    padding: 5px 1px;
  }
  .topright2 {
    margin-top: 50px;
  }
  .topright3 {
    margin-top: 90px;
  }

}

@media screen and (min-width: 701px) {
  .topright, .topright2 ,.topright3{
    position: absolute;
    top: 330px;
    left: 20%;
    padding: 10px 5px;
    width: 10%;
  }
  .topright2 {
    margin-top: 70px;
  }
  .topright3{
    margin-top:130px;
  }
}

.flexRowStu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-around;
}

.widthheightimg {
  height: 100px;
  width: 155px;
}

.add-new-attendance, .old-list-attendance {
  background-color: rgb(71, 181, 255);
  color: white;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 0px;
  font-size: large;
}

.flexflowdiv {
  margin-top: 10%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column;
}

.add-new-attendance:hover, .old-list-attendance:hover {
  background-color: rgb(15, 159, 255);
}

.tableatten th {
  width: 20%;
}

.dateSearch {
  width: 230px;
  border: none;
  padding: 3px 0px 3px 10px;
  border-radius: 4px;
  color: #6D6F73;
}

@media screen and (max-width: 900px) {
  .dateSearch {
    margin-top: 10px;
  }
  .inputSearchSpan {
    padding: 1px 0px 2.5px 0px;
  }
  .flexflowdiv {
    width: 200px;
  }
}

.inputSearchSpan {
  padding-left: 5px;
}

.centerHead {
  margin-left: auto;
  margin-right: auto;
}

/* .absolutsubmitbutton{
  position: absolute;
  right: 5%;
  width: 100px;
} */

.searchAttend {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.helloclass {
  display: flex;
  flex-flow: row;
}

.helloclass .filterClass {
  margin-left: 10px;
}

.table-wrapper333 td{
padding-left: 2px;
padding-right: 2px;
}
